body {
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: initial;
}
ul {
  list-style-type: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small screen  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen  */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
/* large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
/* large screen  */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
}
.container .logo {
  font-size: 35px;
  font-weight: 700;
  margin-right: 40px;
}
.container nav {
  flex: 1;
  height: 40px;
}
@media (max-width: 768px) {
  .container nav {
    flex: 0;
  }
}
.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:30px;
}
@media (min-width: 786px) {
  .container nav .bar {
    display: none;
  }
}
.container nav > ul {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .container nav > ul {
    display: none;
    position: absolute;
    top: 85%;
    right: 0;
    z-index: 999;
    background-color: #fff;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(230, 226, 226);
  }
}

.container nav ul .first-drop {
  position: relative;
}

.container nav ul .first-drop > a i {
  transition: 0.3s;
}
.container nav ul .first-drop:hover > a i {
  transform: rotate(180deg);
  color: #726dee;
}
.container nav ul .second-drop {
  position: relative;
}

.container nav ul .second-drop > a i {
  transition: 0.3s;
}
.container nav ul .second-drop:hover > a i {
  transform: rotate(180deg);
  color: #726dee;
}
@media (min-width: 768px) {
  .container nav ul .drop {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: calc(100% + 50px);
    right: 8px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(190, 187, 187, 0.933);
    padding: 10px;
    border-radius: 15px;
  }
}

.container nav ul .drop li i {
  margin-right: 10px;
  transition: 0.5s;
}
.container nav ul .drop li:hover a {
  color: #726dee;
}
.container nav ul .drop li:hover i {
  transform: translate(115px);
}

.container nav ul .drop li:first-child i {
  color: cornflowerblue;
}
.container nav ul .drop li:nth-child(2) i {
  color: rgb(0, 255, 208);
}
.container nav ul .drop li:nth-child(3) i {
  color: rgb(232, 232, 9);
}
.container nav ul .drop li:last-child i {
  color: rgb(147, 115, 236);
}

.container nav ul .first-drop:hover .drop {
  display: block;
}
.container nav ul .second-drop:hover .drop {
  display: block;
}
.container nav ul li {
  padding: 10px 15px;
}
.container nav ul li a {
  text-transform: capitalize;
}
.container .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container .login {
    display: none;
  }
}
@media (max-width: 768px) {
  .container nav:hover > ul {
    display: block;
  }
}

.container .login a:first-child:hover {
  color: #726dee;
}

.container .login a:last-child {
  border: 2px solid black;
  padding: 7px 15px;
  border-radius: 15px;
  transition: 0.2s;
  margin-left: 20px;
}
.container .login a:last-child:hover {
  background: linear-gradient(to right, #726dee 30%, #9897b9 100%);
  border-color: #fff;
  color: #fff;
}
/* end header  */
/* start section  */
.section {
  padding-top: 100px;
  padding-bottom: 50px;
}
.section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .section .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.section .container .text {
  flex-basis: 40%;
  margin-left: 100px;
}
@media (max-width: 991px) {
  .section .container .text {
    order: 2;
    margin: 80px auto 0px;
    text-align: center;
  }
}
.section .container .text h1 {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .section .container .text h1 {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .section .container .text h1 {
    font-size: 30px;
  }
}
.section .container .text p {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  width: 75%;
  color: gray;
  line-height: 1.5;
}
@media (max-width: 991px) {
  .section .container .text p {
    margin: auto;
  }
}
.section .container .text a {
  padding: 13px 30px;
  border-radius: 14px;
  border: 2px solid black;
  width: fit-content;
}
@media (max-width: 991px) {
  .section .container .text a {
    margin: auto;
  }
}
.section .container .text a:hover {
  background: linear-gradient(to right, #726dee 50%, #9e9ae8 100%);
  border-color: white;
  color: #fff;
}

.section .container .img {
  flex-basis: 45%;
}
@media (max-width: 991px) {
  .section .container .img {
    flex: 1;
    flex-basis: 100%;
  }
}
.section .container .img img {
  width: 80%;
  max-width: 100%;
  min-width: 150px;
}
.section .container .images {
  display: flex;
  margin-top: 40px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .section .container .images {
    flex-direction: column;
  }
}
.section .container .images img {
  width: 95px;
}

/* end section  */
